


/*---------------------------*/

.pos .product-beverage {
    position:relative;
    vertical-align: top;
    display: inline-block;
    line-height: 100px;
    font-size: 14px;
    margin: 8px !important;
    width: 122px;
    height:115px;
    background:#fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    border-bottom-width: 3px;
    overflow: hidden;
    cursor: pointer;
}

.pos .product-beverage .product-img {
    position: relative;
    width: 120px;
    height: 100px;
    background: white;
    text-align: center;
}

.pos .product-beverage .product-img img {
    max-height: 100px;
    max-width:  120px;
    vertical-align: middle;
}


.pos .product-beverage .product-name {
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    bottom:0;
    top:auto;
    line-height: 40px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:    -moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:     -ms-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    /* troublesome in latest webkit
    background:         linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    */
    /*background:#FFF;*/
    /*padding: 3px;
    padding-top:15px;*/
}

/*.pos .modal-dialog .popup{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 600px;
    height: 473px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #F0EEEE;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
    z-index: 1200;
    font-family: Lato;
}

.pos .popup.popup-selection .selection {
    overflow-y: auto;
    max-height: 344px;
    font-size: 16px;
    width: auto;
    line-height: 50px;
    margin-top: -1px;
    border-top: solid 3px #6EC89B;
}*/


.pos .actionpad .button.pay-and-clear {
    height: 162px;
}

.pos .actionpad .button.pay-and-clear .pay-circle {
    display: block;
    font-size: 32px;
    line-height: 54px;
    padding-top: 6px;
    background: rgb(86, 86, 86);
    color: white;
    width: 60px;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 10px;
}
.pos .actionpad .button.pay-and-clear .pay-circle .fa {
    position: relative;
    top: -1px;
    left: 3px;
}

.screen .top-content .button.confirm{
    right: 0px;
    margin-right: 16px;
}
