@font-face {
 font-family: "Janna";
 src: url("/pos_brew92/static/src/fonts/Linotype-JannaLTRegular.ttf")
  format("truetype");
 src: url("/pos_brew92/static/src/fonts/Linotype-JannaLTBold.ttf")
  format("truetype");
}

.borderless td, .borderless th {
    border: none;
}

u.dotted{
  border-bottom: 1px dashed #999;
  text-decoration: none;
}


.custom_tr{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
 border-bottom: 1px solid #ddd;
}

.bottom_line {
    border-bottom: 1px solid #ddd;
}