.order-details td {
	padding: 8px !important;
}
div.order-details table,
div.order-details tr,
div.order-details td {
	border: 0.1rem solid black;
}
div.order-details table thead {
	background-color: #6EC89B;	
}


/*override - increase default width 75px to align properly */
.pos .clientlist-screen .client-detail > .label {
	width: 92px !important;
}

.pos .clientlist-screen .client-detail > .label {
/*     display: inline-block;
    font-weight: bold;
    margin-right: 8px;
    text-align: left; */
    width: 119px !important;
}

.flash-msg {
	position:absolute;
  top: 0px;
  left: 458px;
  text-align: center;
  background-color: lightcoral;
}

.screen/* .top-content {
	position: relative !important;
}*/