.timeData div{
display: inline;
}
.counter_holder .o_kanban_record{
overflow: hidden;
display: block!important;
/*margin: 0 0 1em!important;*/
width: 100%!important;
-webkit-column-break-inside: avoid;
box-shadow: none!important;
border: 1px solid #afafb6;
}
.counter_holder {
margin: 1.5em 0;
padding: 0;
-moz-column-gap: 1.5em;
-webkit-column-gap: 1.5em;
column-gap: 1.5em;
display:block!important;
/*height: 100%;*/
}
.counter_holder .o_kanban_record {
display: inline-block;
padding: 1em;
margin: 0 0 1.5em;
width: 100%;
}
.counter_holder .row{
margin:0!important;
}
.o_kanban_record.o_kanban_ghost{
display:none!important;
}
@media only screen and (min-width: 400px) {
.counter_holder {
-moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
}
}
@media only screen and (min-width: 700px) {
.counter_holder {
-moz-column-count: 3;
-webkit-column-count: 3;
column-count: 3;
}
}
@media only screen and (min-width: 900px) {
.counter_holder {
-moz-column-count: 3;
-webkit-column-count: 3;
column-count: 3;
}
}
@media only screen and (min-width: 1100px) {
.counter_holder {
-moz-column-count: 3;
-webkit-column-count: 3;
column-count: 3;
}
}

/* css only popup */


.clrChange.cancel{
    color: red!important;
}